<% provide(:title, 'Home') %>
<h1>Knowledge Anywhere Requirements and Estimations Tracking System</h1>
<p>
  This system is intended for the entry of project requirements and associated dev and qa estimation.  Please use
  <a href="http://knowany.myjetbrains.com">YouTrack</a>
  for entering specific defects and issues.
  </p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibu
  <p>
</p>
